@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 15em;
  color: $navbar-light-color;
}

.profile-image {
  height: 2sem;
  width: 1.75em;
}

.navbar {
  padding: 1em 1em;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 500;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 60px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  background: url('https://i.pinimg.com/originals/16/c0/4f/16c04f8a2faa6c5da72b1cf84f35dc7d.png') no-repeat center center;
  background-size: contain;
}
