<div class="main">
    <div class="main-sub-1">
    <ul>
    
        <li><a href="#">Categery </a>
        
                <ul>
                    <li><a href="">Horror</a> 
                        <ul  class="one">
                            <li><a href="https://mail.google.com/mail/u/0/#inbox">Youtube</a></li>
                            <li><a href="">Amazon Prime</a></li>
                            <li><a href="">Aha</a></li>
                            <li><a href="">Netflix</a></li>
                            <li><a href="">Mx Player</a></li>
                            <li><a href="">Hot Star</a></li>
                            <li><a href="">Sun Nxt</a></li>
                            <li><a href="">Zee5</a></li>
                        </ul>
                    
                    
                    
                    
                    
                    </li>
                    <li><a href="">Comedy</a>
                    
                        <ul  class="one">
                            <li><a href="">Youtube</a></li>
                            <li><a href="">Amazon Prime</a></li>
                            <li><a href="">Aha</a></li>
                            <li><a href="">Netflix</a></li>
                            <li><a href="">Mx Player</a></li>
                            <li><a href="">Hot Star</a></li>
                            <li><a href="">Sun Nxt</a></li>
                            <li><a href="">Zee5</a></li>
                        </ul>
                    
                    </li>
                    <li><a href="">Devotional</a>
                        <ul  class="one">
                            <li><a href="">Youtube</a></li>
                            <li><a href="">Amazon Prime</a></li>
                            <li><a href="">Aha</a></li>
                            <li><a href="">Netflix</a></li>
                            <li><a href="">Mx Player</a></li>
                            <li><a href="">Hot Star</a></li>
                            <li><a href="">Sun Nxt</a></li>
                            <li><a href="">Zee5</a></li>
                        </ul>
                    
                    
                    
                    
                    </li>
                    <li><a href="">Action</a> 
                    
                        <ul  class="one">
                            <li><a href="">Youtube</a></li>
                            <li><a href="">Amazon Prime</a></li>
                            <li><a href="">Aha</a></li>
                            <li><a href="">Netflix</a></li>
                            <li><a href="">Mx Player</a></li>
                            <li><a href="">Hot Star</a></li>
                            <li><a href="">Sun Nxt</a></li>
                            <li><a href="">Zee5</a></li>
                        </ul>
                    
                    
                    
                    </li>
                    <li><a href="">Thrillar</a>
                    
                        <ul  class="one">
                            <li><a href="">Youtube</a></li>
                            <li><a href="">Amazon Prime</a></li>
                            <li><a href="">Aha</a></li>
                            <li><a href="">Netflix</a></li>
                            <li><a href="">Mx Player</a></li>
                            <li><a href="">Hot Star</a></li>
                            <li><a href="">Sun Nxt</a></li>
                            <li><a href="">Zee5</a></li>
                        </ul>
                    
                    
                    
                    
                    </li>
                    <li><a href="">Hisorical</a>
                        <ul  class="one">
                            <li><a href="">Youtube</a></li>
                            <li><a href="">Amazon Prime</a></li>
                            <li><a href="">Aha</a></li>
                            <li><a href="">Netflix</a></li>
                            <li><a href="">Mx Player</a></li>
                            <li><a href="">Hot Star</a></li>
                            <li><a href="">Sun Nxt</a></li>
                            <li><a href="">Zee5</a></li>
                        </ul>
                    
                    
                    
                    
                    
                    </li>
                    <li><a href="">Biopic</a>
                    
                        <ul  class="one">
                            <li><a href="">Youtube</a></li>
                            <li><a href="">Amazon Prime</a></li>
                            <li><a href="">Aha</a></li>
                            <li><a href="">Netflix</a></li>
                            <li><a href="">Mx Player</a></li>
                            <li><a href="">Hot Star</a></li>
                            <li><a href="">Sun Nxt</a></li>
                            <li><a href="">Zee5</a></li>
                        </ul>
                    
                    
                    
                    
                    </li>
                
                </ul>
        
    </li>
        <li><a href="#">Dubbing Movies</a>
        
            <ul>
                <li><a href="">Hindhi</a>
                 <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                </li>
                <li><a href="">English</a>
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                
                </li>
                <li><a href="">Tamil</a>
                
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                
                
                
                </li>
                <li><a href="">Kannada</a> 
                
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                
                
                
                
                </li>
                <li><a href="">Malayalam</a>

                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>



                </li>
            </ul>
        
        </li>
        <li><a href="#">Hit Movies</a>
            <ul>
                <li><a href="">Oldern Hits</a>
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                   
                </li>
                <li><a href="">Middle Hits</a>
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                </li>
                <li><a href="">Latest Hits</a> 
                
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                
                
                
                
                </li>
</ul> 
        </li>

        
        <li><a href="#">Year Wise Movies</a>

            <ul>
                <li><a href="">1950-1975</a>
                
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                
                
                </li>
                <li><a href="">1975-2000</a>
                
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>  
                
                
                
                </li>
                <li><a href="">2000-2010</a>
                
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                
                </li>
                <li><a href="">2010-2020</a> 
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                
                
                
                </li>
                <li><a href="">New Movies</a>
                
                    <ul  class="one">
                        <li><a href="">Youtube</a></li>
                        <li><a href="">Amazon Prime</a></li>
                        <li><a href="">Aha</a></li>
                        <li><a href="">Netflix</a></li>
                        <li><a href="">Mx Player</a></li>
                        <li><a href="">Hot Star</a></li>
                        <li><a href="">Sun Nxt</a></li>
                        <li><a href="">Zee5</a></li>
                    </ul>
                
                
                </li>
            </ul>
        </li>


        <li><a href="">My Favourate </a> 
            
                        <ul>
                            <li><a href="">Hero</a></li>
                            <li><a href="">Heroine </a></li>
                            <li><a href="">Vilan</a></li>
                            <li><a href="">Director</a> </li>
                        </ul>

        </li>
 </ul>
    
    
    </div>
    
    
    
    </div>